---
import Layout from '../layouts/Layout.astro'
import { newtClient} from '../lib/newt'
import type { Article } from '../lib/newt'
import Header from '../components/Header.astro'
import { SITE_TITLE } from '../consts';

const { items: articles} = await newtClient.getContents<Article>({
	appUid: 'blog',
	modelUid: 'article',
	query:{
		select:['title', 'slug', 'body'],
	},
})

---

<Layout title="Blog">
	<Header title={SITE_TITLE} />
</Layout>

<Layout title="Articles">
	<h1>Blog一覧</h1>
	<main>
		<ul>
			{
				articles.map((article)=> {
					return(
						<li>
							<a href={`/articles/${article.slug}`}>{article.title}</a>
						</li>
					)
				})
			}
			<br>
		</ul>
	</main>
</Layout>


<style>

	ul li{
		list-style: none;
	}

	

</style>
