---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE } from '../consts';

---

<Layout title="Profile">
    <Header title={SITE_TITLE} />
    <h2>私たちについて</h2>
</Layout>